#heading-section{
    /* text-align: center; */
    margin-top: 10em;
    height: 10em;
    border: 1px  black;
}

#showcase-area{
    margin-top: 3em;
}

#intro{
    font-size: 4em;
}
#profile-photo{
    height: 10em;
    width: 10em;
}