#heading-section{
    background-color: blueviolet;
    color: whitesmoke;
    text-align: center;
    height: 10em;
    padding-top: 3em;
    font-family: 'Dancing Script', cursive;
}

#intro{
    font-size: 70px;
}